* {
    box-sizing: border-box;
  }

  .d-flex{
    display: flex;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav img{
  width: 100px;
}

.nav-items {
  display: flex;
  font-size: 20px;
}
h5.nav-item.active-item {
  padding: 0 25px;
}

h5.nav-item {
  padding: 0 25px;
}

.left-section {
  width:60%
}
.right-section {
  width:40%;
}